[Authentication parameters]
wsdlURL = http://localhost/iLabServiceBroker/iLabServiceBroker.asmx?wsdl


SbGuid =
groupName =
userName = go-lab
authorityKey =
duration = -1
start =  2014-02-01T18:13:00

[Database]

engine = mysql
host = localhost
database = translator
user = translator
password = hblgzzg7t6t


[Radioacivity Lab Server II - has Absorbers]

couponId =
passkey =
clientGuid =